<div class="content">
    <p class="blog-title">Wlecome to DIYblog</p>
    <ul class="blog-handle">
        <li class="blog-login"><a href="/login">登录</a></li>
        <li class="blog-reg"><a href="/reg">注册</a></li>
    </ul>
    <div class="icon">
        <img src="/img/icon1.jpg" alt="">
    </div>
    <div class="news">
        <dl>
            <dt>
                <img src="/img/pic1.jpg" alt="">
            </dt>
            <dd>
                <p>毫无疑问，iPhone 7 Plus将会是大家购买新iPhone的主要目标，毕竟加入了新功能，但最主要的是，外形上跟iPhone 7、6S、6都不一样，识别度更高.</p>
            </dd>
        </dl>
        <dl>
            <dt>
                <img src="/img/pic2.jpg" alt="">
            </dt>
            <dd>
                <p>如果你打算购买iPhone 7 Plus，那么好消息来了。瑞士信贷驻台湾分析师Pauline Chen从产业链收集到的消息显示。</p>
            </dd>
        </dl>
        <dl>
            <dt>
                <img src="/img/pic3.jpg" alt="">
            </dt>
            <dd>
                <p>为了保证双摄像头的供应，苹果也是早做准备，除了拉来LG（LG Innotek）为其代工外，还找来另外一家代工商（致伸科技）加大产能双摄像头的产能。</p>
            </dd>
        </dl>
    </div>
</div>